<!doctype html>
<html lang="en">
  <head>
    {{ template "meta" }}
    {{ template "css"  }}
    {{ template "styles" }}

    <title>Call For Papers</title>
  </head>

  <body>
    {{ template "navbar" }}

    <div class="container" style="padding-top: 80px">
          <h2 id="content" class=bd-title>Call For Papers</h2>
    	  <p class="bd-lead">Authors are invited to submit original unpublished manuscripts on a broad range of topics related to big data science, computing paradigms, platforms and applications</p>
    	  <h4 id="topics">Topics of interest include (but not limited to):</h4>
    	    <ul>
      	    <li><h4 id="data-science">Big Data Science</h4><ul>
		      <li>Big Data Analytics</li>
    		      <li>Data Science Models and Approaches</li>
    		      <li>Algorithms for Big Data</li>
    		      <li>Big Data Search and Information Retrieval Techniques</li>
    		      <li>Data Mining and Knowledge Discovery Approaches</li>
    		      <li>Machine Learning Techniques for Big Data</li>
    		      <li>Big Data Acquisition, Integration, Cleaning, and Best Practices</li>
		      <li>Big Data and Deep Learning</li>
            </ul></li>
	    <li><h4 id="infra-platforms">Big Data Infrastructure and Platforms</h4><ul>
		      <li>Scalable Computing Models, Theories, and Algorithms</li>
		      <li>In-Memory Systems and Platforms for Big Data Analytics</li>
		      <li>Big Data and High Performance Computing</li>
		      <li>Cyber-Infrastructure for Big Data</li>
		      <li>Performance Evaluation Reports for Big Data Systems</li>
		      <li>Storage Systems (including file systems, NoSQL, and RDBMS)</li>
		      <li>Resource Management Approaches for Big Data Systems</li>
		      <li>Many-Core Computing and Accelerators</li>
            </ul></li>
            <li><h4 id="applications">Big Data Applications</h4><ul>
		      <li>Big Data Applications for Internet of Things</li>
		      <li>Mobile Applications of Big Data</li>
		      <li>Big Data Applications for Smart City</li>
		      <li>Healthcare Applications such as Genome Processing and Analytics</li>
		      <li>Scientific Application Case Studies on Cloud Infrastructure</li>
		      <li>Big Data in Social Networks</li>
		      <li>Data Streaming Applications</li>
           </ul></li>
           <li><h4 id="trends-challenges">Big Data Trends and Challenges</h4><ul>
		      <li>Fault Tolerance and Reliability</li>
		      <li>Scalability of Big Data Systems</li>
		      <li>Energy-Efficient Algorithms</li>
		      <li>Big Data Privacy and Security</li>
		      <li>Big Data Archival and Preservation</li>
           </ul></li>
           <li><h4 id="visualisation">Visualization of Big Data</h4><ul>
		      <li>Visual Analytics Algorithms and Foundations</li>
		      <li>Graph and Context Models for Visualization</li>
		      <li>Analytics Reasoning and Sense-making on Big Data</li>
		      <li>Visual Representation and Interaction</li>
		      <li>Big Data Transformation, and Presentation</li>
           </ul></li>
        </ul>
        <h4 id="submission">Manuscript Guidelines and Submission</h4>
        <p>
        Submitted manuscripts must represent original unpublished research that is not currently under review for any other conference or journal.
	Manuscripts should be structured as technical papers and may not exceed ten (10) single-spaced double-column pages using 10-point size font on 8.5x11 inch pages <a href="https://www.ieee.org/conferences/publishing/templates.html">(IEEE conference style)</a>, including figures, tables, and references. The proceedings will be published by the IEEE Computer Society and will be made available online through the IEEE Digital Library, as well as through the ACM Digital Library.
        <br><br>
	Manuscripts are submitted via the Easychair Conference Management System: <a href="https://easychair.org/conferences/?conf=bdcat2020">https://easychair.org/conferences/?conf=bdcat2020</a>
        <br><br>
        All manuscripts will be reviewed and judged on correctness, originality, technical strength, rigour in analysis, quality of results, quality of presentation, and interest and relevance to the conference attendees.
        </p>
        <h4 id="awards">Awards and Special Issues</h4>
        <p>
        A selection commission chaired by the BDCAT2020 technical programme committee will select and acknowledge the best paper and the best student paper to receive an award during the conference.
        <br><br>
Authors of highly rated papers from BDCAT2020 will be invited to submit an extended version to special issues of prestigious journals. Details will be announced soon.
        </p>
        <h4 id="dates">Important Dates</h4>
        {{ template "dates" }}
    </div>

    {{ template "social" }}
    {{ template "js" }}
  </body>
</html>
