<!doctype html>
<html lang="en">
  <head>
    {{ template "meta" }}
    {{ template "css"  }}
    {{ template "styles" }}

    <title>Committee</title>
  </head>

  <body>
    {{ template "navbar" }}

    <div class="container">
    <h2 style="padding-top: 70px">Committee</h2>
    <h4>General Chairs</h4>
    <ul>
	    <li>Nick Antonopoulos, Edinburgh Napier University, UK</li>
	    <li>Omer Rana, Cardiff University, UK</li>
	    <li>Changjun Jiang, Tongji University, China</li>
    </ul>
    <h4>Programme Chairs</h4>
    <ul>    
	    <li>Olga Datskova, CERN, Geneva, Switzerland</li>
	    <li>Yudong Zhang, University of Leicester, UK</li>
    </ul>
    <h4>Local Organizing Committee</h4>
    <ul>
	    <li>Lu Liu, University of Leicester, UK (l.liu@leicester.ac.uk)</li>
	    <li>Ashiq Anjum, University of Leicester, UK (a.anjum@leicester.ac.uk)</li>
    </ul>
    <h4>Tutorials Chair</h4>
    <ul>
	    <li>Alan Sill, Texas Tech University, Texas, USA</li>
    </ul>
    <h4>Steering Committee</h4>
    <ul>
	    <li>Rajkumar Buyya, University of Melbourne, Australia</li>
	    <li>Alan Sill, Texas Tech University, Texas, USA</li>
	    <li>Omer Rana, Cardiff University, UK</li>
	    <li>Ashiq Anjum, University of Leicester, UK</li>
	    <li>Josef Spiller, ZHAW Zurich University of Applied Sciences, Switzerland</li>
	    <li>Xinghui Zhao, Washington State University, Vancouver, USA</li>
    </ul>
    <h4>Website Chair</h4>
    <ul>
	    <li>Dr Xiang Sun, University of Leicester, UK</li>
    </ul>
    </div>

    {{ template "social" }}
    {{ template "js" }}
  </body>
</html>
